.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fdfbf9;
  position: sticky;
  top: 0;
  padding: 0px 20px;
  z-index: 1000;
}

.logo {
  width: 100px;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links button {
  font-family: Poppins, sans-serif;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
}

.nav-links button:hover {
  color: var(--secondaryColor);
}

.hamburger {
  width: 28px;
  cursor: pointer;
  display: none;
  flex-direction: column;
  gap: 5px;
}

.hamburger span {
  height: 3px;
  background: #000;
  border-radius: 2px;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .hamburger {
    display: flex;
  }
}

.drawer-menu {
  position: fixed;
  top: 0;
  left: -260px;
  width: 250px;
  height: 100%;
  background: white;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
  z-index: 2000;
}

.drawer-menu.open {
  left: 0;
}

.drawer-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 1500;
}

.drawer-menu.open + .drawer-overlay {
  display: block;
}

.drawer-content {
  padding: 20px;
}

.drawer-content p {
  padding: 12px 0;
  font-size: 18px;
  cursor: pointer;
}

.drawer-content p:hover {
  color: #007bff;
}

.close-btn {
  font-size: 22px;
  background: none;
  border: none;
  float: right;
  cursor: pointer;
}
