.footer-section-wrapper {
  display: flex;
  gap: 3%;
  flex-wrap: wrap;
  padding: 20px;
  color: black;
}

.footer-vertical-section {
  width: 31%;
}

.footer-section-heading {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid;
  margin: 10px 0px;
  font-size: 1.2rem;
  font-weight: bold;
}

.footer-image {
  max-width: 150px;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
}

.footer-link-wrapper {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  font-weight: bold;
  width: 100%;
}

.footer-dev {
  padding: 15px;
  text-align: center;
  color: black;
  font-size: 1.1rem;
  font-weight: bold;
  border-top: 1px solid #f1f1f1;
}

@media (max-width: 820px) {
  .footer-dev {
    padding-bottom: 72px;
  }
}

.footer-section-links {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.footer-section-links > a {
  color: black;
}

@media screen and (max-width: 499px) {
  .footer-vertical-section {
    width: 85%;
    margin: auto;
  }
}
