:root {
  --primaryColor: #f47c90;
  --secondaryColor: #74c2e1;
  --textColor: "#333333";
  --darkBlack: #030303;
  --mediumGrey: #424242;
  --lightGrey: #f3f3f3;
  --hardWhite: #fefefe;
  --lightGreen: #e3fae3;
  --errorRedGroud: #ffa7a7;
}

html,
body {
  height: 100%;
  font-family: "Poppins", sans-serif;
}

.font-monst {
  font-family: "Poppins", sans-serif;
}

.font-monst-bold {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

:root {
  --swiper-theme-color: #008000 !important;
}

.loader-container {
  display: flex;
  align-items: center;
  height: 80vh;
  justify-content: center;
}

.page-header {
  height: 200px;
  position: relative;
  opacity: 0.9;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.center-heading {
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  text-align: center;
  color: var(--darkBlack);
  font-size: 2rem;
  font-weight: bold;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes zoominout {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.1, 1.1);
  }

  100% {
    transform: scale(1, 1);
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes zoominout {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.1, 1.1);
  }

  100% {
    transform: scale(1, 1);
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes zoominout {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.1, 1.1);
  }

  100% {
    transform: scale(1, 1);
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-ms-keyframes zoominout {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.1, 1.1);
  }

  100% {
    transform: scale(1, 1);
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideUpFade {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
